HOST=localhost
SITE_FULL_URL=http://localhost/
MEDIA_URL=http://localhost/

DEBUG=0
SECRET_KEY=<secret key>
# Replace 000000000 with your api key
MOSS_API_KEY=000000000

# Event server
EVENT_DAEMON_POST=ws://wsevent:15101/

# Redis and Celery
REDIS_CACHING_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/1

# Bridge
BRIDGED_HOST=bridged
